@font-face {
  font-family: "Mekona";
  src:
    url("./fonts/mekona.woff2") format("woff2"),
    url("./fonts/mekona.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/background.jpg"); /* Photo by Lisa Fotios: https://www.pexels.com/photo/selective-focus-photography-of-pasta-with-tomato-and-basil-1279330/ */
  background-size: 1920px 1280px;
  background-repeat: no-repeat;
  font-family: "Mekona", sans-serif;
  color: antiquewhite;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#carousel {
  display: grid;
  grid-template-columns: 150px 900px 150px;
  grid-row: auto;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 700px;
  height: 700px;
}

.carousel-item.previous img,
.carousel-item.next img {
  width: 150px;
  height: 150px;
}

.carousel-item.current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-name {
  margin-bottom: 20px;
  font-size: 40px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navigation button {
  font-family: "Mekona";
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
  background-color: #bbb;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation button:hover {
  background-color: #717171;
  transform: scale(1.2);
}

.dots {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(15px, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 0 20px;
  width: 250px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: none;
  border: 1px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition:
    border 0.2s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
  place-self: center;
}

.dot:hover {
  border: 1px solid #bbb;
  background-color: none;
  transform: scale(1.2);
}

.dot.selected {
  border: none;
  background-color: #717171;
  transform: scale(0.9);
}
